@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR:wght@300;700&family=Unna&display=swap');

/*reset*/
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, 
th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.4;
}
.wrap{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.en{
    font-family: 'Unna', serif;
}
.en_1{
    font-family: 'Maven Pro', sans-serif;
}

/*header*/
header{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100px;
    line-height: 100px;
    color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
}
header .menuOpen{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 16px;
    line-height: 100px;
}
header .menuOpen span{
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
header .menuOpen span.mid{
    top: 50%;
}
header .menuOpen span.bot{
    top: 100%;
}
header .book{
    display: inline-block;
    float: left;
    margin-left: 70px;
    height: 100%;
    font-size: 25px;
}
header .langs{
    float: left;
    margin-left: 220px;
    overflow: hidden;
    width: 150px;

}
header .langs li {
    float: left;/*자식 요소에게 float 를 줄 경우 부모 요소에 overflow: hidden;을 줘야함*/
    width: 50%;
}
header .langs li:nth-child(1){
    font-weight: bold;
}
header .langs li:nth-child(2){
    color: #ddd;
}
header .langs li a{
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    text-transform: uppercase;
}
header .right{
    float: right;
}
header .right li{
    float: left;
    margin-right: 55px;
}
header .right li:nth-child(2){
    margin-right: 0;
}
header .right li p{
    letter-spacing: 1px;
}
header .right li .logo{
    width: 150px;
    height: 100px;
}
header .right li .logo a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
header .right li .logo a img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
header .right li .logo a img:nth-child(2){
    opacity: 0;
}

/*visual*/
.visual{
    color: #fff;
}
.visual .slide li{
    position: relative;
    width: 100%;
    height: 100vh;
}
.visual .slide li img{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
/*Visual .mainText*/
.visual .slide .mainText{
    position: absolute;
    top: 35%;
    right: 18%;
    width: 25%;
}
.visual .slide .mainText strong{
    display: block;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 1;
}
.visual .slide .mainText > p{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
    margin-bottom: 70px;
}
.visual .slide .mainText .num{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.visual .slide .mainText .num span{
    position: absolute;
    top: -10px;
    display: inline-block;
    padding: 10px 4px;
    opacity: 0;
}
.visual .slide .mainText .message{
    font-size: 26px;
    line-height: 1.2;
}
/*비주얼 공통 하단 메뉴*/
.visual .menu {
    position: absolute;
    left: 4%;
    bottom: 7%;
    font-size: 21px;
    padding-bottom: 7px;
    overflow: hidden;
}
.visual .menu:after{
    content: '';
    width: 100%;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: bar 4.5s infinite;
}
@keyframes bar{
    0%{width: 0%;}
}
.visual .menu li{
    float: left;
    padding-right: 20px;
}
.visual .menu li:nth-child(2){
    padding-right: 130px;
}
.visual .menu li:nth-child(3){
    padding-right: 0px;
}
.visual .menu li span i{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}
.visual .menu li:nth-child(2) span i {
    margin-right: 22px;
}
.visual .menu li p{
    font-size: 28px;
}

/*animation*/
@keyframes trans{
    0%{opacity: 0; transform: translateY(15px);}
    30%{opacity: 1; transform: translateY(0);}
    70%{opacity: 1; transform: translateY(0);}
    100%{opacity: 0; transform: translateY(-15px);}
}
.visual .slide .slick-active .mainText .num span{
    animation-name: trans;
    animation-duration: 4.5s;
}
@keyframes opa{
    0%{opacity: 0;}
}
.visual .slide .slick-active .mainText strong {
    animation-name: opa;
    animation-duration: 3s;
}
@keyframes slide-up{
    0%{opacity: 0;}
    20%{opacity: 0; transform: translateY(10px);}
}
.visual .slide .slick-active .mainText > p{
    animation: slide-up;
    animation-duration: 1.5s;
}
@keyframes scaleani{
    0%{
        transform: scale(1.1);
    }
}
.visual .slide li.slick-active img{
    animation-name: scaleani;
    animation-duration: 4.5s;
}

.introduce{
    width: 88%;
    margin: 130px auto 0;
}
.introduce .title{
    font-size: 32px;
    line-height: 1.6;
    margin-bottom: 100px;
}
.introduce .roomInfo{
    width: 100%;
    height: 884px;
    position: relative;
}
.introduce .roomInfo .tab{
    width: 380px;
    text-transform: uppercase;
    margin-bottom: 40px;
    overflow: hidden;
}
.introduce .roomInfo .tab li{
    float: left;
    width: 40%;
    margin-right: 3%;
}
.introduce .roomInfo .tab li:nth-child(2){
    margin-right: 0;
}
.introduce .roomInfo .tab li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.introduce .roomInfo .tab li.on{
    color: #a68164;
}

.introduce .roomInfo .tab li a span{
    display: inline-block;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box;
}
.introduce .roomInfo .tab li a span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #a68164;
    transition: all 0.5s;
}
.introduce .roomInfo .tab li a span:hover:after{
    width: 100%;
}
/*.introduce tabBox*/
.introduce .roomInfo .tabBox{
    width: 100%;
    position: absolute;
    left: 0;
    top: 11%;
    display: none;
}
.introduce .roomInfo .tabBox.on{
    display: block;
}
.introduce .roomInfo .tabBox .deluxe{
    overflow: hidden;
    width: 100%;
}
.introduce .roomInfo .tabBox .deluxe .photo{
    float: left;
    width: 60%;
    position: relative;
}
.introduce .roomInfo .tabBox .deluxe .photo img{
    width: 100%;
}
.introduce .roomInfo .tabBox .photo .showBox{
    width: 25%;
    position: absolute;
    left: 8%;
    bottom: 18%;
    color: #fff;
    letter-spacing: 1.5px;
}
.introduce .roomInfo .tabBox .deluxe .photo .showBox .name{
    padding-bottom: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(235, 235, 235, 0.33);
    margin-bottom: 10px;
    position: relative;
}
.introduce .roomInfo .tabBox .deluxe .photo .showBox .name:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: bar 4s;
}
.introduce .roomInfo .tabBox .deluxe .photo .showBox .btn{
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo{
    float: right;
    width: 40%;
    text-align: center;
    margin-top: 180px;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox{
    margin-bottom: 120px;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox h3{
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .titBox p{
    font-size: 17px;
    color: #604d3e;
}
.introduce .roomInfo .tabBox .txtinfo .inner_detail li{
    margin-bottom: 50px;
}
.introduce .roomInfo .tabBox .txtinfo .inner_detail li span{
    display: block;
    margin-bottom: 20px;
    color: #a68164;
}
.introduce .roomInfo .tabBox .txtinfo .inner_detail li p{
    font-size: 17px;
}

/*.introduce .motion*/
@keyframes slide-up2{
    0%{opacity: 0;}
    20%{opacity: 0; transform: translateY(40px);}
}
.introduce .title.motion {
    animation-name: slide-up2;
    animation-duration: 1.2s;
}/*title class에 motion클래스가 붙으면...*/
.introduce .roomInfo.motion{
    animation-name: slide-up2;
    animation-duration: 0.8s;
}
.introduce .roomInfo.motion .tabBox .deluxe .photo .showBox .name{
    animation-name: slide-up2;
    animation-duration: 2s;
}
.introduce .roomInfo.motion .tabBox .deluxe .txtinfo .titBox h3{
    animation-name: slide-up2;
    animation-duration: 1.4s;
}
.introduce .roomInfo.motion .tabBox .deluxe .txtinfo .titBox p{
    animation-name: slide-up2;
    animation-duration: 1.6s;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li{
    animation-name: slide-up2;
    animation-duration: 1.8s;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li:nth-child(2){
    animation-duration: 2s;
}
.introduce .roomInfo .tabBox .deluxe .txtinfo .inner_detail li:nth-child(3){
    animation-duration: 2.2;
}

/*section.offer*/
.offer{
    width: 87%;
    margin: 200px auto 100px;
}
.offer h2{
    font-size: 30px;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 15px;
}
.offer .findBtn{
    display: block;
    font-size: 15px;
    color: #a68164;
    margin-bottom: 35px;
}
.offer .new{
    width: 100%;
    overflow: hidden;
}
.offer .new li{
    float: left;
    width: 23.5%;
    margin-right: 2%;
}
.offer .new li:nth-child(4){
    margin-right: 0;
}
.offer .new li p.img{
    width: 100%;
    margin-bottom: 35px;
    overflow: hidden;
}
.offer .new li p.img a{
    display: block;
    width: 100%;
    height: 100%;
}
.offer .new li p.img a:hover img{
    transform: scale(1.2);
    transition: all 0.5s;
}
.offer .new li p.img a img{
    width: 100%;
    transition: all 0.3s;
}
.offer .new li span{
    display: block;
    margin-bottom: 20px;
}
.offer .new li h3{
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: 15px;
}
.offer .new li .hashTag{
    font-size: 15px;
    letter-spacing: -1px;
    color: #a68164;
    height: 100px;
}
.offer .new li > a{
    display: inline-block;
    font-size: 15px;
    flood-color: #a68164;
    position: relative;
    padding: 5px 0;
}
.offer .new li > a:after{
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #a68164;
    transition: all 0.5s;
}
.offer .new li > a:hover:after{
    width: 100%;

}